html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --logo-second-color: #000000;
  --white-color: #ffffff;
  --background-footer: #2f303a;
  --background-works-list: rgba(47, 48, 58, 0.8);
  --background-hero: #c4c4c4;
  --button-background: #f5f4fa;
  --footer-contacts: rgba(255, 255, 255, 0.6);
  --main-button-hover: #118ce8;
  --border-color: #eeeeee;
  --header-line: #ececec;
  --clients-gray: #afb1b8;
  --background-footer-icons: rgba(255, 255, 255, 0.1);
  --backdrop-color: rgba(0, 0, 0, 0.2);
}

body {
  margin: 0;

  color: var(--primary-text-color);
  background-color: var(--white-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.02em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a {
  color: currentColor;
}

/*Утилиты*/

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
}

.page-nav {
  border-bottom: 1px solid var(--border-color);
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/*header*/

.logo {
  text-decoration: none;
}

.logo-first {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  color: var(--accent-color);
}

.logo-second {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  color: var(--logo-second-color);
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  color: var(--white-color);
}

/* Site nav*/

.page-nav {
  display: flex;
  align-items: center;
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.contacts-list {
  display: flex;
  margin-left: auto;
}

.contacts-list .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
  outline: none;
}

.site-nav .link.current {
  position: relative;
  color: var(--accent-color);
}

.site-nav .link.current::after {
  position: absolute;
  bottom: -1px;
  right: 0;
  display: block;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.contacts-list .link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--primary-text-color);
  fill: var(--primary-text-color);
}

.contacts-link {
  display: block;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--accent-color);
  fill: var(--accent-color);
  outline: none;
}

.contacts-icon {
  margin-right: 10px;
}

/* hero */

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.hero {
  text-align: center;
  padding-bottom: 200px;
  padding-top: 200px;
}

.hero-title {
  margin-bottom: 30px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;

  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

/*Overlay */
.hero-overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--background-hero);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/img-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.works-title,
.team-title,
.clients-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.features-list {
  display: flex;
  flex-wrap: wrap;
}

.features-list .item {
  width: 270px;
}

.features-list .item:not(:last-child) {
  margin-right: 30px;
}

.features-list .title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.features-list .description {
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.features-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;

  background-color: var(--button-background);

  border-radius: 4px;
  margin-bottom: 30px;
}

.features-icon {
  width: 70px;
  height: 70px;
}

.works-list {
  display: flex;
}

.works-list .item:not(:last-child) {
  margin-right: 30px;
}

.works-thumb {
  position: relative;
}

.works-block {
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  right: 0;

  display: inline-flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  background-color: var(--background-works-list);
  color: var(--white-color);
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section.no-padding {
  padding-top: 0px;
  padding-bottom: 94px;
}

.section.team {
  background-color: var(--button-background);
}

.team-list {
  display: flex;
  flex-wrap: wrap;
}

.team-list .item:not(:last-child) {
  margin-right: 30px;
}

.team-list .title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-text-color);
}

.team-list .description {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

.team-list .item {
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--white-color);
  border-radius: 0px 0px 4px 4px;
}

.teamcard {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}

.clients-list {
  display: flex;
}

.clients-list .item:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border-radius: 4px;

  fill: var(--clients-gray);
  border: 1px solid var(--clients-gray);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

.clients-link:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

.menu {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.menu > .item:not(:last-child) {
  margin-right: 8px;
}

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.project-name {
  border: 1px solid var(--border-color);
  border-top: none;
}

.projects-link {
  display: block;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-link:hover,
.projects-link:focus {
  outline: none;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-list .item {
  flex-basis: calc((100% - 60px) / 3);
}

.projects-list .title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--title-text-color);
}

.projects-list .description {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.project-name {
  padding: 20px 24px;
}

.projects-thumb {
  position: relative;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  overflow: hidden;
}

.projects-link:hover .projects-overlay,
.projects-link:focus .projects-overlay {
  transform: translatex(0);
}

.projects-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  opacity: 0.9;

  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-thumb:hover::before,
.projects-thumb:focus::before {
  position: absolute;
  content: "";

  transform: translateY(100%);
}

.projects-overlay > p {
  margin: 0;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.button {
  font-family: inherit;
  cursor: pointer;
}

.button-main {
  padding: 10px 32px;
  border-radius: 4px;
  border: 0;
  min-width: 200px;

  text-align: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  background-color: var(--accent-color);
  color: var(--white-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-main:hover,
.button-main:focus {
  background-color: var(--main-button-hover);
}

.button-portfolio {
  display: block;
  padding: 6px 22px;
  border-radius: 4px;
  border: 0;
  text-align: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;

  background-color: var(--button-background);
  color: var(--title-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-portfolio:focus {
  outline: none;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--background-footer);
}

.address {
  margin-top: 20px;

  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.footer-list .link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--footer-contacts);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list {
  margin-top: 9px;
}

.footer-list > .item:not(:first-child) {
  margin-top: 9px;
}

.footer-list .link:hover,
.footer-list .link:focus {
  color: var(--accent-color);
  outline: none;
}

.media-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.media-container {
  margin-left: 95px;
}

.social-media {
  display: flex;
  margin-top: 16px;
}

.media-footer {
  display: flex;
  margin-top: 20px;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.media-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  fill: var(--clients-gray);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon {
  fill: var(--white-color);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  outline: none;
  fill: var(--white-color);
}

.media-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--background-footer-icons);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.media-link:hover,
.media-link:focus {
  background-color: var(--accent-color);
  outline: none;
}

.signup-container {
  margin-left: auto;
}

.footer-title {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--white-color);
}

.footer-form {
  display: flex;
  width: 570px;
}

.footer-input {
  width: 358px;
  padding: 15px 16px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  background-color: var(--background-footer);

  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  color: rgba(255, 255, 255, 0.6);
}

.footer-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-input:focus {
  outline: none;
}

.footer-button {
  position: relative;

  display: flex;
  align-items: center;
  text-align: center;
  padding: 10px 28px;
  border: 0;
  min-width: 200px;
  gap: 10px;
  margin-left: 12px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  background-color: var(--accent-color);
  color: var(--white-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn .icon-send {
  position: absolute;
  top: 50%;
  left: 0;
}

.footer-button:hover,
.footer-button:focus {
  background-color: var(--main-button-hover);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  background-color: var(--backdrop-color);

  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0);
}

.modal {
  position: absolute;
  width: 528px;
  min-height: 581px;
  top: 50%;
  left: 50%;

  background-color: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
}

.icon-close {
  fill: var(--logo-second-color);

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-modal:hover .icon-close,
.button-modal:focus .icon-close {
  fill: var(--accent-color);
}

textarea {
  resize: none;
}

.form-modal {
  width: 100%;
  padding: 40px;
}

.form-field {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;

  display: inline-block;

  fill: var(--title-text-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-title {
  text-align: center;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;

  color: var(--logo-second-color);
}

.form-input {
  margin: 0;
  padding: 11px 12px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  background-color: var(--white-color);
  color: var(--primary-text-color);

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
}

.form-input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.form-input:focus ~ .form-icon {
  fill: var(--accent-color);
}

.comments-thumb {
  display: flex;
  flex-direction: column;
}

.textarea {
  margin: 0;
  padding: 10px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  min-height: 120px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  background-color: var(--white-color);
  color: var(--primary-text-color);

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.terms-label {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 30px;
  margin-top: 20px;
}

.terms-text {
  display: inline-block;
  align-items: center;
  margin-left: 8px;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.terms-link {
  color: var(--accent-color);
  text-decoration-line: underline;
}

.terms-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-check {
  display: flex;
  border-radius: 2px;
  border: 2px solid var(--title-text-color);
  background-color: white;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.terms-checkbox:checked + .icon-check {
  background-color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.terms-checkbox:focus + .icon-check {
  border-color: var(--accent-color);
}

.form-button {
  text-align: center;
}

.butn-signup {
  display: inline-block;
  padding: 10px 52px;
  border: 0;
  min-width: 200px;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;

  background-color: var(--accent-color);
  color: var(--white-color);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.butn-signup:hover,
.butn-signup:focus {
  background-color: var(--main-button-hover);
  outline: none;
}
